body{
    background-color:rgb(227, 234, 240);
}
.tipo-fuente{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.centrar{
    text-align:center ;
}
 .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsivas */
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    .card {
        width: 100%;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        overflow: hidden;
    }

    .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }

    .card-img-top {
        transition: transform 0.3s ease;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
    }
    .card-text, .card-title { /* ELIMINA EL COLOR AZUL DEL LINK*/
        text-decoration: none; 
        color: inherit; 
    }
.fondo-imagen{
    filter: drop-shadow(1px 1px 10px rgb(2, 1, 0));
}
.chico{
   
        width:20%; /* Ancho del carrusel */
        
     
     }
  
   
    
